.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
  -webkit-text-size-adjust: none
}

.hljs-comment,
.diff .hljs-header {
  color: #A0A1A7
}

.hljs-keyword,
.assignment,
.hljs-literal,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  color: #a151d2
}

.hljs-number,
.hljs-hexcolor {
  color: #ED5C65
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-name {
  color: #249D7F
}

.hljs-title,
.hljs-id {
  color: #f18c16
}

.hljs-params {
  color: #2795EE
}

.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  font-weight: normal
}

.hljs-class .hljs-title,
.haskell .hljs-label,
.tex .hljs-command {
  color: #458;
  font-weight: bold
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal
}

.hljs-attribute,
.hljs-variable,
.instancevar,
.lisp .hljs-body {
  color: #2795EE
}

.hljs-regexp {
  color: #b68
}

.hljs-class {
  color: #2795EE;
  font-weight: bold
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-keyword,
.ruby .hljs-symbol .keymethods,
.lisp .hljs-keyword,
.tex .hljs-special,
.input_number {
  color: #2795EE
}

.builtin,
.constructor,
.hljs-built_in,
.lisp .hljs-title {
  color: #0086b3
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold
}

.hljs-deletion {
  background: #fdd
}

.hljs-addition {
  background: #dfd
}

.diff .hljs-change {
  background: #0086b3
}

.hljs-chunk {
  color: #aaa
}

.tex .hljs-formula {
  opacity: 0.5
}
