.gcs { vertical-align: top; border-width: 0 !important; float: right; }
.gsc-control-cse, .gsc-webResult.gsc-result { background-color: transparent !important; border-color: transparent !important; }
.gcs > div { display: inline-block; vertical-align: top; height: 60px; }
.gsc-control-searchbox-only { width: 250px; display: inline-block; height: 60px; }
.gsc-search-box { margin-bottom: 0 !important; height: 60px !important; }
.gsc-search-button { display: none; }
.gsc-input-box { border: 0 !important; height: 34px !important; margin: 0; border-radius: 3px !important; box-shadow: none !important; background-color: #fff !important; }
.gsc-input-box .gsc-input > input:hover,
.gsc-input-box-hover,
.gsc-search-box .gsc-input > input:focus,
.gsc-input-box-focus { box-shadow: none !important; }
.gsc-input { font-size: 15px !important; font-family: "Arvo", serif !important; box-sizing: border-box !important; background-position: 8px center !important; height: 100% !important; border-top: 0 !important; padding: 0 10px !important; background-color: transparent !important; }
.gsib_a { padding: 0 !important; border-top: 0 !important; }
.gsib_b { display: none; }
.gstl_50 { height: 100%; }
.gs-snippet { font-size: 14px; }
.gsc-table-cell-snippet-close { border-top: 0 !important; padding: 0 8px !important; }
.gsc-resultsHeader td { border-top: 0 !important; }
.gsc-above-wrapper-area { border-bottom: 0 !important; display: none; /* for now */ }
.gsc-above-wrapper-area td { border-top: 0 !important; }
.gsc-orderby-label { font-size: 14px; }
.gsc-cursor-page { display: inline-block; width: 24px; height: 24px; margin: 4px; border-color: #ddd; text-align: center; }
.gsc-resultsHeader { display: none; }
.gs-title { font-family: "Arvo", serif; color: #48e; height: 27px !important; text-decoration: none !important; }
.gs-title b { text-decoration: none !important; background-color: #fff9c0 !important; padding: 1px 8px; border-radius: 3px; border: 1px solid rgba(0,0,0,.1); }
a.gs-title:visited, a.gs-title:visited:hover, a.gs-title:visited b, a.gs-title:visited:hover b { color: #4447EE !important; }
a.gs-title, a.gs-title:hover, a.gs-title b, a.gs-title:hover b { color: #48e !important; }
