body { margin: 0; padding: 0; font-family: "Lato", sans-serif; background-color: #fafafa; }
* { outline: 0 !important; box-sizing: border-box; }

body, td, th { font-size: 16px; font-family: "Lato", sans-serif; line-height: 24px; }

#top { box-shadow: 0 1px 2px rgba(0,0,0,.15); }
.header { margin: 0 auto; max-width: 1000px; line-height: 50px; display: flex; justify-content: space-between; }
.header-item { vertical-align: middle; line-height: 50px; margin-right: 20px; }
.header-right .header-item { margin-left: 20px; margin-right: 0; }
.project-title { font-weight: bold; font-size: 16px; font-style: italic; margin-left: -20px; }
.logo-link { color: #000; }
.logo-link:hover { color: #000; text-decoration: none; }
.logo-link img { border: 0; }

a.header-item { font-style: italic; font-weight: bold; color: #555; text-decoration: none; }
a.header-item:hover { color: #111; text-decoration: none; }

main { margin: 0 auto; max-width: 1000px; color: #333; position: relative; }

#sidebar { width: 180px; float: left; }
article { margin-left: 200px; padding: 10px; }
.clear { clear: both; }

h1, h2, h3, h4, h5, h6 { color: #222; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 { padding-top: 10px; }

footer { color: #666; border-top: 1px solid #eee; padding: 20px 0; margin: 20px 0; max-width: 1000px; margin: 0 auto; font-size: smaller; display: flex; justify-content: space-between; }

a { color: #4083C9; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

hr { margin: 30px 0; border: 0; border-top: 1px solid #eee; height: 0; }

code { background-color: rgba(0,0,0,.05); padding: 2px 5px; border-radius: 3px; }
pre code { background-color: transparent; padding: auto; border-radius: 0; }
pre { font-size: 14px; line-height: 20px; background-color: rgba(0,0,0,.05); padding: 15px 20px; display: block; border-radius: 4px; color: #222; }
.hljs { background-color: transparent; padding: 0; }
blockquote { padding: 5px 20px; background-color: rgba(127,127,127,.05); margin: 10px 0; border-left: 10px solid rgba(0,0,0,.05); }

table { border-collapse: collapse; border-spacing: 0; }
th { vertical-align: bottom; text-align: left; }
th, td { padding: 8px; line-height: 20px; }
td { border-top: 1px solid #ddd; vertical-align: top; }

#markdown-toc { padding: 0; margin-bottom: 50px; }
#markdown-toc, #markdown-toc ul { list-style-type: none; }
#markdown-toc li::before { content: "# "; color: #4083C9; opacity: .3; padding-right: 5px; font-weight: bold; }
#markdown-toc ul a { font-weight: normal; }
#markdown-toc a:hover { text-decoration: none; color: #59A6F7; }

#sidebar { padding-right: 20px; }
#sidebar::after { border-right: 1px solid #eee; content: ""; position: absolute; left: 180px; top: 0; bottom: 0; width: 0; }
#sidebar ul { padding: 0; margin: 0; list-style-type: none; }
#sidebar .active a { color: #333; }
#sidebar .active a:hover { cursor: default; text-decoration: none; }
#sidebar a { font-size: 13px; }
#sidebar .index { border-bottom: 1px dashed #ddd; display: block; margin-right: -20px; padding: 6px 0; margin: 6px 0; }
#sidebar .index a { font-weight: normal; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.btn { box-shadow: 0 1px 2px rgba(0,0,0,.05); cursor: pointer; border-radius: 2px; border: 1px solid rgba(0,0,0,.05); padding: 8px 15px; font-weight: bold; color: rgba(0,0,0,.8); background-color: #eee; }
.btn:disabled { opacity: .5; cursor: default; }
.btn-green { background-color: #64D15A; }
#run-output:empty { display: none; }
