body { margin: 0; padding: 0; font-family: "Lato", sans-serif; background-color: #fafafa; position: relative; }
* { outline: 0 !important; box-sizing: border-box; }

a img { border: 0; }
body, td, th { font-size: 14px; font-family: "Lato", sans-serif; line-height: 1.7; color: #444; }

html, body, .wrapper { padding: 0; margin: 0; width: 100%; height: 100%; display: block; overflow: hidden; }

.wrapper { display: flex; flex-direction: column; }
#top { height: 50px; flex: 0 0 auto; box-shadow: 0 2px 2px 0 rgba(0,0,0,.15), 0 3px 1px -2px rgba(0,0,0,.15); z-index: 100; position: relative; background-color: #fff; }
#content { overflow-y: scroll; flex: 1 1 auto; }

main { display: flex; flex-direction: row; align-items: stretch; justify-content: center; }

.column-main { max-width: 1000px; flex: 1000000 1 auto; position: relative; }
.column-left, .column-right { flex: 1 1 auto; }

.header-menu { margin: 0 auto; padding: 0; max-width: 1000px; }
.header-menu > li { list-style: none; display: inline-block; }

.header-menu > li { margin: 0 5px; position: relative; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.header-menu > li:hover { border-left: 1px solid rgba(0,0,0,.1); border-right: 1px solid rgba(0,0,0,.1); }
.header-menu > li > a, .header-menu > li > span { color: #444; font-weight: bold; text-decoration: none; display: inline-block; line-height: 50px; padding: 0 10px; }
.header-menu > li:hover > a, .header-menu > li:hover > span { color: #000; text-decoration: none; background: rgba(0,0,0,.05); }
.header-menu-logo { line-height: 50px; vertical-align: top; }
.header-menu-logo img { vertical-align: top; opacity: 0.75; }
.header-menu-logo:hover img { opacity: 1; }

.header-menu ul .fa { line-height: 35px; float: right; }

#sidebar { width: 195px; float: left; }
article { padding: 20px; flex: 1 1 auto; max-width: 800px; }
.clear { clear: both; }
article > p:last-child { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; line-height: 125%; }
h1, h2, h3, h4, h5, h6 { padding: 15px 0 0 0; margin: 10px 0; font-weight: bold; color: #444; }
h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code { font-weight: inherit; color: inherit; padding: 0; margin: 0; display: inline; line-height: 125%; background-color: transparent; border: 0; font-size: inherit; }

h1 { font-size: 18px; margin-top: -20px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

.article-header { text-align: left; }
.description { color: #333; font-weight: bold; margin: 0; padding: 0; font-size: 14px; }

footer { border-top: 1px solid rgba(0,0,0,.1); color: #666; font-size: smaller; }
footer > div { padding: 20px 0; margin: 0 auto; max-width: 1000px; display: flex; justify-content: space-between; }

a { color: #4083C9; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

hr { margin: 30px 0; border: 0; border-top: 1px solid #eee; height: 0; }

code, pre { font-size: 13px; font-family: "Source Code Pro", monospace; tab-size: 4; -moz-tab-size: 4; }
code { background-color: #fff; border: 1px solid rgba(0,0,0,.05); padding: 1px 4px; border-radius: 3px; }
pre code { border: 0; background-color: transparent; padding: auto; border-radius: 0; }
pre { font-size: 13px; line-height: 1.3em; background-color: #fff; border: 1px solid rgba(0,0,0,.1); padding: 15px 18px; display: block; color: #222; /* These are technically the same, but use both */ overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; /* This is the dangerous one in WebKit, as it breaks things wherever */ word-break: break-all; /* Instead use this non-standard one: */ word-break: break-word; /* because firefox requires it ... */ white-space: pre-wrap; }
.docs pre { margin: 15px -20px; border-left: 0; }
.landing pre { margin: 15px 0; border-radius: 2px; }
.hljs { background-color: transparent; padding: 0; }
blockquote { padding: 5px 20px; background-color: #cef; margin: 10px 0; border-left: 10px solid rgba(0,0,0,.05); }

table { border-collapse: collapse; border-spacing: 0; }
th { vertical-align: bottom; text-align: left; }
th, td { padding: 8px; line-height: 20px; }
td { border-top: 1px solid #ddd; vertical-align: top; }

#markdown-toc { padding: 0; margin-bottom: 10px; }
#markdown-toc, #markdown-toc ul { list-style-type: none; }
#markdown-toc li::before { content: "# "; color: #4083C9; opacity: .3; padding-right: 5px; font-weight: bold; }
#markdown-toc ul a { font-weight: normal; }
#markdown-toc a:hover { text-decoration: none; color: #59A6F7; }

#sidebar { padding: 20px 15px 20px 0; font-size: 13px; }
.sidebar-separator { border-right: 1px solid rgba(0,0,0,.1); position: absolute; left: 175px; top: 0; bottom: 0; width: 0; }
#sidebar ul { padding: 0; margin: 0; }
#sidebar li { list-style: none; }
nav .active a { color: #333; }
nav .active a:hover { cursor: default; text-decoration: none; }
#sidebar .index { border-bottom: 1px dashed #ddd; display: block; margin-right: -20px; padding: 6px 0; margin: 6px 0; }
#sidebar .index a { font-weight: normal; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.btn { box-shadow: 0 1px 2px rgba(0,0,0,.05); cursor: pointer; border-radius: 2px; border: 1px solid rgba(0,0,0,.05); padding: 8px 15px; font-weight: bold; color: rgba(0,0,0,.8); background-color: #eee; }
.btn-lg { padding: 15px 25px; border-color: rgba(0,0,0,.1); border-bottom: 2px solid rgba(0,0,0,.2); }
.btn:disabled { opacity: .5; cursor: default; }
.btn:hover { text-decoration: none; }
.btn-green { background-color: #64D15A; }
.btn-blue { background-color: #08e; }
.btn-black { color: #fff; background-color: #333; }
#run-output:empty { display: none; }

.cover { background: #FFF7B8 url("/img/cover.svg") center no-repeat; background-size: cover; height: 300px; box-shadow: 0 1px 2px rgba(0,0,0,.2); border-bottom: 1px solid rgba(0,0,0,.1); }
.cover > div { margin: 0 auto; padding-top: 20px; max-width: 1000px; color: #333; position: relative; }

.mobile-header { display: none; }
#menu { display: none; }

.sidebar-sub label { font-weight: bold; display: block; cursor: pointer; color: #4083C9; }
.sidebar-sub label:hover { text-decoration: underline; }
.sidebar-sub label .fa { float: right; line-height: 21px; }
.sidebar-sub input:checked ~ label .fa::before { content: "\f106"; /* angle-up */ }
.sidebar-sub-menu { display: none; }
.sidebar-sub input { display: none; }
.sidebar-sub input:checked ~ .sidebar-sub-menu { display: block; }
.sidebar-sub-menu li { margin-left: 15px; }

.tutorial-nav { display: block; margin: 0; }
.tutorial-nav:after { content: ""; display: block; clear: both; margin-bottom: 30px; }
.tutorial-nav span { border: 1px solid #ddd; display: inline-block; padding: 10px; margin-right: -1px; margin-bottom: -1px; float: left; }
.tutorial-next { padding: 15px; margin: 20px 0; border: 1px solid #ddd; font-size: 18px; text-align: center; }

.dark { background: #eee; }

@media screen and (min-device-width: 601px) {
	.header-menu li:hover ul { display: block; }
	.header-menu ul { display: none; background: white; border: 1px solid rgba(0,0,0,.1); border-top: 0; margin: 0; padding: 0; position: absolute; left: -1px; top: 100%; }
	.header-menu ul > li { border-top: 1px solid transparent; border-bottom: 1px solid transparent; display: block; width: 200px; list-style: none; }
	.header-menu ul > li:hover { border-top: 1px solid rgba(0,0,0,.1); border-bottom: 1px solid rgba(0,0,0,.1); }
	.header-menu ul > li:last-child { border-bottom-width: 0 !important; }
	.header-menu ul > li > a { padding: 0 10px; line-height: 35px; color: #444; text-decoration: none; display: block; }
	.header-menu ul > li > a:hover { color: #000; text-decoration: none; background: rgba(0,0,0,.05); }
}

@media screen and (max-device-width: 600px) {
	#top { position: fixed; width: 100vw; }
	#top > .content { margin: 0; padding: 0; }
	.mobile-header { display: block; list-style: none; margin: 0; padding: 0; }
	.mobile-header li { display: inline-block; line-height: 50px; min-width: 50px; text-align: center; }
	body { overflow-x: hidden; }
	html, body, .wrapper { margin: 0; display: flex; width: 100%; height: 100%; }
	.header-menu { display: none; }
	#menu:checked + .wrapper .header-menu { display: block; width: 80vh; max-width: 250px; position: fixed; top: 52px; bottom: 0; overflow-y: scroll; box-shadow: 1px 0 2px rgba(0,0,0,.2); background: white; }
	#menu:checked + .wrapper .header-menu li { display: block; width: auto; }
	#menu:checked + .wrapper .header-menu ul { display: block; position: relative; }
	.header-menu li:hover ul { display: block; }
	.header-menu ul { display: none; border-top: 1px solid rgba(0,0,0,.1); margin: 0; padding: 0; }
	.header-menu ul > li { border-top: 1px solid rgba(0,0,0,.1); display: block; list-style: none; }
	.header-menu ul > li:last-child { border-bottom: 1px solid rgba(0,0,0,.1); }
	.header-menu ul > li > a { padding: 0 10px; line-height: 35px; color: #444; text-decoration: none; display: block; }
	.header-menu ul > li > a:hover { color: #000; text-decoration: none; background: rgba(0,0,0,.05); }
	.header-menu-logo { display: none !important; }
	.mobile-header-menu-logo { width: calc(100vw - 120px); display: inline-block !important; text-align: center; }
	.header { display: block; text-align: center; }
	footer { display: block; text-align: center; }
	h1 { padding-top: 0; }
	#sidebar { float: none; width: auto; padding: 30px 10px 10px 10px; border-bottom: 1px solid #eee; padding-bottom: 30px; font-size: inherit; }
	.sidebar-separator { display: none; }
	article { margin: 0; }
}
