---
layout: null
---
{% include shared-asset-path.jekyll %}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.55;
    background: #f2f9ff;
    overflow-y: scroll; /* prevent jumping on too short pages */
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: 88%; /* font is very large, this makes it about the size of the other texts */
    background-color: rgba(255,255,255,.3);
    padding: 3px 4px;
    margin: -3px 1px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
}

a code {
    border-color: rgba(19, 119, 222, .2);
}

pre {
    padding: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
    background: white;
    line-height: 1.45; /* prevent jumping before highlight */
    font-size: 14px;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* because firefox requires it ... */
    white-space: pre-wrap;
}

pre > code {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    line-height: 1.45;
    font-size: 14px;
}

a {
    color: #1376dd;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.logo, h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
    letter-spacing: .5px;
}

h1 {
    font-size: 24px;
    padding: 0;
    margin: 45px 0 0 0;
}

h2 {
    font-size: 24px;
    padding: 0;
    margin: 25px 0 15px 0;
}

h3 {
    font-size: 20px;
    padding: 0;
    margin: 25px 0 10px 0;
}

h2 code, h3 code, h4 code, h5 code, h6 code {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: inherit;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

#top-pre {
    height: 0;
}

#top-separator {
    height: 3px;
    background: url({{ shared_asset_path }}/img/top-separator.png) #5489cd;
}

#top {
    background-color: white;
    height: 70px;
    line-height: 70px;
    z-index: 2;
    position: relative;
    padding: 0 3px 0 15px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=1 );
}

#top .cols {
    justify-content: space-between;
}

#top .logo {
    font-weight: bold;
    vertical-align: top;
    height: 70px;
    line-height: 68px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#top .logo-img {
    height: 100px;
    padding: 0;
    margin: -18px 5px;
    vertical-align: top;
    border: 0;
    position: relative;
    z-index: 2;
}

.logo-text {
    font-size: 30px;
    margin: 0 15px;
    display: inline-block;
    line-height: 74px;
}

#top-menu {
    max-width: none;
}

#logo-container {
    flex: 0 0 200px;
}

.site-wrapper {
    padding: 0 30px;
    max-width: 950px;
    margin: 30px auto;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 0 30px rgba(0,0,0,.05);
}

.site-full-width {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}

.site-width {
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.content em {
    font-style: italic;
}

.content img {
    max-width: 100%;
    margin: 15px 0;
}

.content .image-100 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content .image-80 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content .image-60 {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.content-with-sidebar {
    display: flex;
    flex-direction: row-reverse;
}

.content-sidebar {
    width: 200px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 15px;
}

.content-main {
    flex-grow: 1;
}

.content-main h1 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.content-actions {
    float: right;
    font-size: 13px;
    line-height: 37px; /* same as h1 */
    padding-top: 5px;
}

.content-actions a {
    padding: 3px 8px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.content-actions a:last-child {
    margin-right: 0;
}

.content-actions a:hover {
    text-decoration: none;
    border-color: rgba(0,0,0,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.05);
    background-color: rgba(0,0,0,.02);
}

.content-actions a:focus {
    background-color: rgba(0,0,0,.02);
    border-color: rgba(0,0,0,.2);
}

.content-actions .fa {
    font-size: 14px;
    margin-right: 5px;
}

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-level-2 {
    padding-left: 15px;
}

.sidebar-menu a {
    font-weight: normal;
    color: #111;
}

.sidebar-level-2 a {
    color: #333;
}

.content table {
    border-collapse: collapse;
}

.content td,
.content th {
    border: 1px solid #ccc;
    padding: 8px;
}

.content td {
    vertical-align: top;
}

.block h2 {
    margin-top: 10px;
    padding-top: 0;
}

.mark {
    border: 2px solid #d00;
    border-radius: 4px;
    padding: 2px 6px;
    margin: -2px -6px;
}

.content .cols {
    margin: 20px 0;
}

.cols {
    display: flex;
}

.cols {
    align-items: flex-start;
}

.cols h3 {
    margin-top: 5px;
}

.cols > div {
    margin: 0 15px;
    flex: 1 1 0;
    max-width: 50%;
}

.cols > div:first-child {
    margin-left: 0;
}

.cols > div:last-child {
    margin-right: 0;
}

#top .cols > div:last-child {
    text-align: right;
}

@media (max-width: 1200px) {
    .cols:not(.cols-no-wrap) {
        display: block;
    }

    .cols:not(.cols-no-wrap) > div {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }

    .cols:not(.cols-no-wrap) > div:first-child {
        margin-bottom: 20px;
    }

    .cols:not(.cols-no-wrap) > div:last-child {
        margin-top: 20px;
    }
}

#news {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 1px;
    font-size: 18px;
    color: #eee;
    background-color: #ff725f;
    background: linear-gradient(90deg, #ff927f, #ff725f, #ff927f);
}

#news a, #news a:hover {
    color: white;
}

#news-inner {
    margin-top: 9px;
    margin-bottom: 9px;
}

.section-intro {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.menu-item {
    display: inline-block;
    line-height: 48px; /* border + padding */
    padding: 13px 15px 7px 15px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

.menu-item:hover {
    text-decoration: none;
    color: black;
    border-color: #ce3a6e;
}

.menu-item-inactive:hover {
    border-color: transparent;
}

.highlight-area {
    background-color: #d9ecff;
    margin-top: -1px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.highlight-area h1 {
    margin: 5px 0 15px 0;
}

.highlight-area .cols div:last-child {
    align-self: center;
}

.highlight-area pre {
    margin: 0;
    background: transparent;
    border-color: transparent;
}

.highlight-area pre > code {
    padding: 0;
    font-size: 15px;
    background: transparent;
}

.help-bubble, .help-bubble::after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ce3a6e;
    position: relative;
    cursor: help;
}

.help-bubble::after {
    content: "";
    animation: help-bubble 1.5s infinite;
    position: absolute;
}

@keyframes help-bubble {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(2, 2);
        opacity: 0;
    }
}

.card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 15px;
    margin: 30px 0;
}

.card:first-child {
    margin-top: 0;
}

.card:last-child {
    margin-bottom: 0;
}

.card h3 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: -15px -15px 10px -15px;
    padding: 10px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.intro-button-area {
    text-align: right;
    margin-top: -25px;
    margin-right: 250px;
    height: 25px;
}

.intro-button-area > a {
    color: white;
    display: inline-block;
    padding: 10px 15px;
    border: 1px dashed rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.05);
    border-radius: 4px;
    font-weight: normal;
}

.highlight-area a {
    color: #eef443;
}

.section-continue-reading {
    display: block;
    margin-top: 10px;
}

.section-separator {
    border: 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    margin: 50px -30px;
}

.get-started-container {
    padding: 20px;
    text-align: center;
}

.get-started {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 40px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.1);
    display: inline-block;
    border-radius: 3px;
    background: #1376dd;
    color: white;
}

.get-started:hover {
    text-decoration: none;
    box-shadow: 0 0 100px rgba(0,0,0,.2) inset;
}

#footer {
    border-top: 1px dashed rgba(0,0,0,.1);
    padding: 10px 20px;
    margin-top: 40px;
}

#footer ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#footer ul > li {
    display: inline-block;
    margin: 0 10px;
}

#footer ul > li > a {
    display: inline-block;
    padding: 10px;
    width: 100px;
}

#footer .fa {
    margin-right: 8px;
}

#footer a {
    color: #333;
}

.note, .warning {
    margin: 15px 0;
    padding: 15px 15px 15px 60px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.note::before, .warning::before {
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 47px;
    height: 100%;
    background-color: white;
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
    line-height: 55px;
    border: 1px solid rgba(0,0,0,.1);
    border-right: 0;
    box-shadow: 1px 0 3px -1px rgba(0,0,0,.1);
    border-radius: 3px 0 0 3px;
}

.note::before {
    color: #1376dd;
    content: "\f129";
}

.note, .note::before {
    border-color: #85b1de;
}

.warning::before {
    color: #de3614;
    content: "\f12a";
}

.warning, .warning::before {
    border-color: #de8f85;
}

.table-full-width {
    width: 100%;
}

.table-no-border, .table-no-border th, .table-no-border td {
    border: 0;
}

.table-text-center td, .table-text-center th {
    text-align: center;
}

.anchorjs-link {
    color: #1376dd;
    transition: all .25s linear;
}

.anchorjs-link:hover {
    text-decoration: none;
    color: rgba(0,0,0,.6);
}

#search-toggle,
#search-box {
    display: none;
    line-height: 70px;
    height: 70px;
    padding: 0;
    position: relative;
    vertical-align: top;
}

#search-toggle:checked ~ #search-box {
    display: inline-block;
}

#search-box {
    display: inline-block !important; /* disable search toggle */
}

#search-toggle-button {
    display: none !important; /* disable search toggle */
}

#search-toggle:checked ~ #search-toggle-button {
    display: none;
}

#search-toggle-button {
    cursor: pointer;
    width: 15px; /* prevent jumping on load */
    text-align: center;
}

#search {
    vertical-align: top;
    padding: 0 10px;
    line-height: 34px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
    background: white;
    margin: 18px 15px 7px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 195px;
}

#search:focus {
    outline: 0;
    border-bottom-color: #ce3a6e;
}

#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

#menu {
    display: none;
}

#sidebar-menu {
    display: none;
}

@media (min-width: 1025px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 1024px) {
    .no-mobile {
        display: none;
    }

    #top, .site-wrapper {
        padding: 0 30px;
    }

    .content {
        padding-left: 0;
        padding-right: 0;
    }

    #logo-container {
        flex: 1 1 200px;
        max-width: none;
    }

    #menu-switch {
        text-align: right;
        width: 30px;
        flex-grow: 0;
    }

    #top-menu {
        display: none;
        max-width: none;
        padding: 5px 0;
    }

    #menu:checked + .site-wrapper #top-menu {
        position: absolute;
        display: block;
        top: 70px;
        left: 0;
        right: 0;
        margin: 0;
        background: white;
        box-shadow: 0 15px 15px -15px rgba(0,0,0,.1) inset, 0 15px 15px -15px rgba(0,0,0,.1);
        border-bottom: 1px solid #ddd;
    }

    #top-menu a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: left;
    }

    #search-box, #search-box > span, #search {
        width: 100%;
        box-sizing: border-box;
    }

    #search {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-with-sidebar {
        display: block;
    }

    .content-sidebar {
        width: 100%;
        margin: 30px 0;
    }

    .sidebar-menu-switch {
        border: 2px solid #def;
        border-radius: 4px;
        padding: 8px;
        display: block;
        text-align: center;
    }

    .sidebar-menu {
        display: none;
    }

    #sidebar-menu:checked ~ .sidebar-menu {
        display: block;
    }

    #sidebar-menu:checked ~ .sidebar-menu-switch {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .sidebar-menu-switch-close {
        display: none;
    }

    #sidebar-menu:checked ~ .sidebar-menu-switch .sidebar-menu-switch-close {
        display: block;
    }

    #sidebar-menu:checked ~ .sidebar-menu-switch .sidebar-menu-switch-open {
        display: none;
    }

    .sidebar-menu li {
        border: 2px solid #def;
        border-top: 0;
    }

    .sidebar-menu a {
        padding: 8px;
        display: block;
    }

    .sidebar-menu li:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  animation: target-highlight 5s ease;
  -webkit-animation: target-highlight 5s ease;
}

@keyframes target-highlight {
  0% { color: #ce3a6e; }
  50% { color: #ce3a6e; }
  100% { color: black; }
}

@-webkit-keyframes target-highlight {
  0% { color: #ce3a6e; }
  50% { color: #ce3a6e; }
  100% { color: black; }
}

.algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    width: auto !important;
    float: none !important;
}
