---
title: Sponsors
description: Maintaining high-quality open source packages is hard work. You can support us by becoming a GitHub sponsor.
image: undraw/undraw_appreciation.svg
permalink: /sponsors
layout: docs
---
<p>Thanks for using our libraries! Your GitHub sponsorship supports our core team members to help ship more releases and better documentation. Thanks to all of you already sponsoring us!</p>

<p>
    <a href="https://github.com/sponsors/amphp"><code>@amphp</code> on GitHub</a>
</p>

<h2>Business Sponsors</h2>

{% for sponsor in site.data.sponsors.business %}
<div class="business-sponsor">
    <h3 class="my-0"><a href="{{ sponsor.link }}">{{ sponsor.name }}</a></h3>
    <p class="my-0">{{ sponsor.description }}</p>
</div>
{% endfor %}

<h2>Other Sponsors</h2>

<div class="other-sponsors">
    <p>
    {% for sponsor in site.data.sponsors.other %}
        <a title="{{ sponsor.github }}" href="https://github.com/{{ sponsor.github }}">{{ sponsor.github }}</a>{% if forloop.last == false %},{% endif %}
    {% endfor %}
    </p>
</div>