---
layout: main
---

<div class="content">
	<nav id="sidebar">
		{% assign url = page.url | slice: -1 %}
		{% if url == "/" %}
			{% assign url = page.url | append: "index.html" %}
		{% else %}
			{% assign url = page.url %}
		{% endif %}

		{% assign url_parts = url | split: '/' | slice: 0, 4 %}
		{% assign url_parts_size = url_parts | size %}
		{% assign base_url = url | split: '/' | slice: 0, 3 | join: '/' %}
		{% assign sub_url = url_parts | join: '/' %}

		{% assign pages = site.pages | sort: "url" %}
		{% assign last_sub = "" %}
		{% assign closed = "" %}

		<ul>
		{% for node in pages %}
			{% assign node_url = node.url | slice: -1 %}
	  		{% if node_url == "/" %}
	  			{% assign node_url = node.url | append: "index.html" %}
	  		{% else %}
	  			{% assign node_url = node.url %}
	  		{% endif %}

			{% assign node_url_parts = node_url | split: '/' %}
		    {% assign node_url_parts_size = node_url_parts | size %}
		    {% assign filename = node_url_parts | last %}

			{% assign node_title = node.url | split: '/' | slice: 3, 1 | first | capitalize %}

		    {% if node.url contains base_url and url_parts_size == node_url_parts_size %}
				{% if closed == "" %}
					</ul></li>
					{% assign closed = "1" %}
				{% endif %}

		      	<li {% if node.url == page.url %}class="active"{% endif %}><a href='{{node.url}}'>{% if node.title_menu %}{{node.title_menu}}{% else %}{{node.title}}{% endif %}</a></li>
			{% elsif node.url contains base_url and url_parts_size < node_url_parts_size %}
				{% if node_title != last_sub %}
					{% if last_sub != "" %}
						{% assign closed = "1" %}
						</ul></li>
					{% endif %}

					<li class="sidebar-sub">
						<label for="sidebar-sub-menu-{{node_title}}">{{node_title}}</label>
						<input type="checkbox" id="sidebar-sub-menu-{{node_title}}" {% if node.url contains sub_url %}checked="checked"{% endif %}>

						<ul class="sidebar-sub-menu">
						{% assign closed = "" %}
				{% endif %}

				<li {% if node.url == page.url %}class="active"{% endif %}><a href='{{node.url}}'>{% if node.title_menu %}{{node.title_menu}}{% else %}{{node.title}}{% endif %}</a></li>

				{% assign last_sub = node_title %}
			{% endif %}
		{% endfor %}

		{% if closed == "" %}
			</ul></li>
			{% assign closed = "1" %}
		{% endif %}

		</ul>
	</nav>

	<div class="sidebar-separator"></div>

	<article>
		<header class="article-header">
			<h1>{{page.title}}</h1>
		</header>

		{{content}}
	</article>

	<div class="clear"></div>
</div>
