<!DOCTYPE html>
<html>
<head>
	<title>amphp{% if page.title %} &ndash; {{page.title}}{% endif %}</title>

	<!-- metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="author" content="amphp" />
	<meta name="description" content="" />
	<meta name="google-site-verification" content="lX-Oenz4-gpqzuAF71A-3MQBlDfgr9pIQIfrVniz1As" />

	<!-- stylesheets -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/docco.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" />
	<link href="/css/screen.css" rel="stylesheet" />

	<!-- scripts -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<header id="top">
		<div class="header">
			<div class="header-left">
				<a href="/" class="logo-link">
					<img class="header-item" src="https://avatars1.githubusercontent.com/u/8865682?v=3&s=100" width="50" height="50" />
					<span class="header-item project-title">amphp</span>
				</a>
			</div>

			<div class="header-right">
				<a class="header-item" href="https://github.com/amphp">Source</a>
				<a class="header-item" href="https://dev.kelunik.com/">Chat</a>
			</div>
		</div>
	</header>

	<main>
		<nav id="sidebar">
			{% assign url_parts = page.url | split: '/' %}
			{% assign url_parts_size = url_parts | size %}
			{% assign rm = url_parts | last %}
			{% assign base_url = page.url | replace: rm %}

			<ul>
			{% for node in site.pages %}
			  {% if node.url contains base_url %}
			    {% assign node_url_parts = node.url | split: '/' %}
			    {% assign node_url_parts_size = node_url_parts | size %}
			    {% assign filename = node_url_parts | last %}
			    {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
			      <li><a href='{{node.url}}'>{{node.title}}</a></li>
			    {% endif %}
			  {% endif %}
			{% endfor %}
			</ul>
		</nav>

		<article>
			<h1>{{page.title}}</h1>

			{{content}}
		</article>

		<div class="clear"></div>
	</main>

	<footer class="bottom">
		Found a mistake? <a href="{{site.github.repository_url}}/blob/master/{{page.path}}">Edit this page</a>.
	</footer>
</body>
</html>
